body {

    background-color:#FFC0CB;
}


#titulo{
    text-align: center;
    font-size: 30px;
    color: rgb(63, 3, 43)
}
.texto {
    text-align: center;
    color: rgb(188, 10, 108);
    font-size: 20px;
}
.titulo {
    text-align: center;
    background-color: image: linear-gradient ( #FF00FF);
}